
@media (max-width: 991.98px)
{
    // start topbar
    #topbar .menu li
    {
        margin-left: 0 !important;
    }
    #topbar .menu li img
    {

    width: 30px;
    }
    #topbar .menu li a
    {
        font-size: 10px;
    }
    #topbar .social_links li a
    {
        width: 25px;
        height: 25px;
    }
    #topbar .social_links li a i {
        margin-top: 7px;
        font-size: 12px;
    }

    // start header  index page
    #header .card-container
    {
        width: 60px;
        height: 60px;
    }
    #header .card .side img {
        width: 60px;
        margin-right: 1%;
    }
    #header .company_info h3
    {
        font-size: 17px;
    }

    #header .company_info h4{
        font-size: 15px;
    }

    #header .company_info p{

        font-size: 10px;
    }
    #header .company_contact ul li
    {
        padding: 2px;
    }
    #header .company_contact ul li a{
        font-size: 10px;
    }

    // start content index page
    #content .left_content
    {
        width: 100%;
    }
    #content .right_content
    {
        width: 100%;
    }

    #content .content_info h2{
        font-size: 12px;
    }

    #content .content_info p{
        font-size: 8px;
    }

  


// start products page 
#products .product_info .product_image {
    width: 16%;
    padding: 8px;
  
}
#products .left_content
{
    width: 100%;
    height: 160px;
}

#products .product_info .product_content {
    width: 80%;
}

#products .product_info .product_content h2{
    font-size: 16px;
}

#products .product_info .product_content p{
    font-size: 7px;
}

#bottomAdv_pagnition .bottomAdv_pagnition_adv
{
    width: 100% !important;
}



}


@media (min-width: 576px) and (max-width: 767.98px)
{
    #topbar .menu li {
        margin-left: 10px !important;
    }

    #brands .owl-carousel a {
        width: 70px;
    }

}

@media (min-width: 768px) and (max-width: 1199.98px)
{
    #topbar .menu li {
        margin-left: 15px !important;
    }
    #content .content_info h2 {
        font-size: 18px;
    }
    #content .content_info p {
        font-size: 10px;
    }
    #content .left_content {
        width: 100px;
    }

    #brands .owl-carousel a {
        width: 70px;
    }

    #content .right_content {
        width: 100px;
    }
}


